.container {
  min-width: 1200px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.post:nth-of-type(even) {
  background-color: rgb(240, 240, 240);
}

li.page-item {
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 3px;
  font-weight: 500;
}

li.page-item a:hover {
  background-color: transparent;
  color: grey !important;
}

li.page-item:first-of-type {
  width: 100px;
  height: 40px;
}

li.page-item:last-of-type {
  width: 100px;
  height: 40px;
  text-align: center;
}

li.active a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 50% !important;
  border: none;
  outline: none;
  background-color: crimson !important;
  color: #fff !important;
}

.post {
  min-height: 250px;
}

.post-duration {
  opacity: 0.7;
}

.post-body {
  font-size: 0.9rem;
}

.post-title {
  font-size: 1.3rem;
  font-weight: bold;
}